$('#notice').hide();
$('#cart').html("<%= escape_javascript render(@cart) %>");
if ($('#cart tr').length == 2) { $('#cart').show(1000); }
$('#current_item').css({'background-color':'#88ff88'}).animate({'background-color':'#114411'}, 1000);
